*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*=======================================================NAV PAGE==========================================================*/

nav {
    height: 60px;
    width: 100%;
    align-self: center;
}

label.logo {
    font-size: 20px;
    padding: 0px 75px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    line-height:90px;
}

nav ul {
    float: right;
    margin-right: 10px;
    font-family: 'Inconsolata', monospace;
    margin-left: 20px;   

}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,
a:hover {
    background: #73bd41;
    transition: .5s;
    color: black;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}/*=======================================================ABOUT PAGE==========================================================*/
header h1{
    text-align: center;
    margin-top: 7%;
    font-family: 'Inconsolata', monospace;

}
.about{
    display: flex;
    flex-direction: column;
}
.about-image{
    margin-top: 3%;
    width: 250px;
    align-self: center;
}
.about-image img {
    width:250px;
    border-radius: 15px;
}
.about-text{  
    margin-top: 3%;
    align-self: center;
    margin-left: 5%;
    font-size: 17px;
    line-height: 2;
    text-align: justify;
    width: 600px;
}
.about-text p{
    margin-top: 2%;
}

/*=======================================================FOOTER==========================================================*/


.footer-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    margin: 6% 2% 5% 4%;
    cursor: pointer;
}

.footer-container div {
    margin-top: 3%;
}

.footer-container ul {
    list-style: none;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

.footer-container h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 25px;
    margin-top: 15%;
}

h4 {
    text-align: center;
    font-size: 13px;
    font-family: 'Inconsolata', monospace;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials a i {
    width: 40px;
}
/*=======================================================MEDIAQUERIES==========================================================*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    html,
    body {
        width: 140%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }   label.logo {
        font-size: 30px;
        padding-left: 50px;   
        font-family: 'Inconsolata', monospace;
    }
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        background-color: rgb(60, 151, 61);
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: white;
    }
    #check:checked~ul {
        left: 0;
    }
  
    .about-content {
        height: calc(100vh-80px);
        margin-left: 4%;
    }
    .about {
         display: flex;
         flex-direction: column;
         align-content: center;
         margin-top: 2em
     }
     .aboutsubtitle {
         margin-top: 1em;
         text-align: center;
     }
     .abouttext {
         width: 675px;
         margin-top: 1em;
         margin-left: 1em;
     }
     .about .image {
       align-content: center;    
 }

}
@media only screen and (max-width: 768px) and (min-width: 481px) {    
     body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }   
    label.logo {
        font-size: 30px;
        padding-left: 50px;   
        font-family: 'Inconsolata', monospace;
    }
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        background-color: rgb(60, 151, 61);
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        color: black;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: white;
    }
    #check:checked~ul {
        left: 0;
    }
    .about-content {
        margin-left: 3%;
        height: calc(100vh-80px);
    }
}@media only screen and (max-width: 1024px) and (min-width: 769px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    label.logo {
        font-size: 30px;
        padding-left: 50px;   
        font-family: 'Inconsolata', monospace;

    }
    nav ul li a {
        font-size: 16px;
    }
